.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #118ab2;
  color: white;
  padding: 0 32px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 0;
  font-size: 1rem;
}

.button.fit-content {
  width: auto;
  color: #073b4c;
  border: 1px solid #073b4c;
  background: white;
}
/* 
  &.outlined {
    background: var(--bg-lighter);
    border: 1px solid #835afd;
    color: #835afd;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
} */
